{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@interface": "./src/interface/",
          "@entity": "./src/entity/",
          "@base": "./src/base/",
          "@service": "./src/service/"
        }
      }
    ]
  ]
}
